.header {
    border-bottom: 1px solid $border-color3;
    position: relative;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;

    padding-top: 16px;
    padding-bottom: 16px;

    color: $hover-color;

    @include desktop {
        font-size: 26px;

        padding-top: 24px;
        padding-bottom: 25px;
    }

    &__span {
        color: $span-color;
    }
}

/*nav menu*/

.menu-block {
    @include max-mobile {
        display: none;

        &.is-open {
            display: flex;
            flex-direction: column;
            position: fixed;
            justify-content: space-between;

            // position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $back-color;
            padding: 48px 40px;
            z-index: 100;
        }
    }

    @include tablet_plus {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.mobile-btn {
    @include max-mobile {
        display: inline-flex;
        border: none;
        margin: 0;
        padding: 0;
        z-index: 999;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-btn .mobile-btn__close {
    display: none;
}

.mobile-btn.is-open .mobile-btn__menu {
    display: none;
}

.mobile-btn.is-open .mobile-btn__close {
    display: block;
}

.nav-menu {
    @include tablet_plus {
        display: flex;
        margin-left: 88px;
        margin-bottom: 0;
        margin-right: 96px;
    }

    @include desktop {
        margin-right: 315px;
    }
}

.nav-menu__item:not(:last-child) {
    @include max-mobile {
        margin-bottom: 32px;
    }

    @include tablet_plus {
        margin-right: 50px;
    }
}

.nav-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: center;
    letter-spacing: 0.02em;
    color: $brand-color-1;

    @include tablet_plus {
        display: flex;
        position: relative;
        
        padding-top: 32px;
        padding-bottom: 32px;


        font-size: 14px;
        line-height: 1.142;

        transition: color $trans;

        &:hover,
        &:focus {
            color: $hover-color;
        }
    }
}

.nav-menu__link--activ {
    color: $hover-color;

    @include tablet_plus {
        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            display: inline-block;
            height: 4px;
            width: 100%;
            background: $hover-color;
            border-radius: 2px;
        }
    }
}

/** nav-contact **/
.nav-contact {
    @include max-mobile {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 64px;
    }

    @include tablet {
        padding-top: 21px;
        padding-bottom: 21px;
        // margin-left: 118px;
    }

    @include desktop {
        display: flex;
        align-items: flex-end;
    }
}

@include max-mobile {
    .nav-contact__item:last-child {
        margin-bottom: 32px;
    }
}

.nav-contact__item:not(:last-child) {
    @include tablet {
        margin-bottom: 10px;
    }

    @include desktop {
        margin-right: 30px;
        margin-bottom: 0;
    }
}

.nav-contact__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.178;
    letter-spacing: 0.02em;
    color: $brand-color-2;

    @include tablet {
        display: flex;
        align-items: center;

        font-size: 12px;
        line-height: 1.14;
    }
    @include desktop{
        font-size: 14px;
        line-height: 1.14;
         padding-top: 32px;
         padding-bottom: 32px;
    }
    transition: color $trans, fill $trans;

        &:hover,
        &:focus {
            color: $hover-color;
            fill: $hover-color;
        }
}

@include max-mobile {
    .nav-contact__link.nav-contact__link--mail {
        font-size: 24px;
        line-height: 1.167;
        letter-spacing: 0.02em;
        color: $brand-color-2;
    }
}

.nav-contact__svg {
    @include max-mobile {
        display: none;
    }

    margin-right: 10px;
    fill: currentColor;
}

@include max-mobile {
    .header-social {
        display: flex;
        flex-wrap: wrap;
    }

    .header-social__item {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: $hover-color;

        &:not(:last-child)::after {
            content: '';
            width: 22px;
            height: 0px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}

@include tablet_plus {
    .header-social {
        display: none;
    }
}