$brand-color-1:#212121;
$hover-btn: rgba(175, 177, 184, 1);
$brand-color-2: #757575;
$hover-color: #2196F3;
$back-color: #Fff;
$span-color: #000000;
$mainback-color: #2F303A;
$mainback40-color: rgba(47, 48, 58, 0.4);
$mainback2-color: #188CE8;
$backteam-color: #F5F4FA;
$linkvisit-color: #29003d;
$address-color: rgba(255, 255, 255, 0.6);
$hover-btn2: rgba(255, 255, 255, 0.1);
$btn-border: #AFB1B8;
$shadow-1: rgba(0, 0, 0, 0.12);
$shadow-2: rgba(0, 0, 0, 0.14);
$shadow-3: rgba(0, 0, 0, 0.2);
$shadow-4: rgba(0, 0, 0, 0.15);
$shadow-5: rgba(0, 0, 0, 0.06);
$shadow-6: rgba(0, 0, 0, 0.16);
$thumb-color: rgba(47, 48, 58, 0.8);
$border-color: rgba(0, 0, 0, 0.1);
$border-color1: #EEEEEE;
$border-color2: rgba(255, 255, 255, 0.3);
$border-color3: #ECECEC;
$form-field: rgba(33, 33, 33, 0.2);

$trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$grad:linear-gradient(to right, $mainback40-color, $mainback40-color);
